@import "tailwindcss";
 @plugin "daisyui" {
   themes: light --default;
 }


@plugin "daisyui/theme" {
  name: "light";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
 --color-primary: "#cf2e2e";
  
}